{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <h2><a href="works">Works</a></h2>
    <h2><a href="clients">Clients</a></h2>
    <h2><a href="subjects">Subjects</a></h2>
    <h2><a href="reports">Reports</a></h2>


{% endblock %}
{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}

